node_modules
npm-debug.log
yarn-error.log

dist
build

*.log
*.tmp

Dockerfile*
.dockerignore

.DS_Store
Thumbs.db

.gitignore
.vscode
.idea
.angular
.git

.env
.env.local
.env.development
.env.test
.env.production
